

/* HOME */

.container {
	background-color: #F2f2f2;
	font-family: browalliaUPC, sans-serif;
	font-size: 14px;
	text-align: left;
	color: #424242;
  position: relative;
}

.container-home button {
    background: #f3d910;
    color: #FFFFFF;
}

.container-home form {
    margin-bottom: 20px;
}

.container-home .progress-bar {
  background-color: #19cf25;
}

/*header h1 {
	color: #B1D923;
	font-size: 60px;
	text-shadow: 2px 2px 0px #cccccc;
	padding-top: 30px;
	text-align: center;
}*/

.container-evol h2 {
	color: #f3d910;
	font-size: 35px;
  margin: 0 0 20px 0;
	text-align: center;
}

h3 {
	color: #fec33e;
	font-size: 20px;
	text-shadow: 1px 1px 0px #FFFFFF;
}

ul{
     height:2em;
     margin:30px 100px;
     padding:0;
}
ul li{
     display:inline;
     text-align:left;
     padding: 10px;
}

ul li a{
     display:inline-block;
     box-sizing:border-box;
     padding:.4em .2em;
     text-decoration:none;
     color: #B1D923;
     transition:background-color .3s ease;
}
ul li a:hover,ul li a:focus{
     color:#fec33e;
     transition:background-color .3s ease .4s;
     text-decoration: none;
}

.imgobj {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	box-shadow: 2px 3px 0px #b8b8b8;
}

/* EVOL */

.container-evol .nav {
  margin: 0;
}

.main-nav li {
  padding: 5px;
}

.container .green .active a {
    background-color: #19cf25;
}

.container .green .active a:hover {
  color: #424242;
  background-color: #19cf25;
}

.graph-evol {
    width: 200px;
    height: 400px;
    border: 1px solid #19cf25;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
}

.total-block {
    background: #19cf25;
    width: 198px;
    height: 63px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
}

.evol-block {
    width: 198px;
    position: relative;
    border-radius: 0 0 5px 5px;
}

.evol-nav {
    top: -15px; 
    left: 200px;   
    width: 250px;
    margin: 0;
    position: absolute;
}

.engagement-nav {
  left: 235px;
  position: absolute;
  top: 270px;
  width: 300px;
}

.container .yellow .active a {
  background-color: #f3d910;
}

.container .yellow .active a:focus,
.container .yellow .active a:hover {
  background-color: #f3d910;
  opacity: 0.5;
}

.evol-nav li {
    list-style: none;
    display: inline-block;
}

.evol-nav a {
  color: #19cf25;
  display: inline-block;
  width: 240px;
}

.evol-nav i {
    margin: 5px;
    color: black;
}

#done {
  background: #f3d910;
  height: 20%;
  top: 318px;
}

#hours {
    background: #a85dac;
    height: 15%;
    top: 338px;
}

#celsius {
    background: tomato;
    height: 20%;
    top: 318px;
}

#defreeze {
    background: #5d61ac;
    height: 30%;
    top: 279px;
}

#unplug {
    background: #aca85d;
    height: 25%;
    top: 298px;
}

/* CUSTOM BOOTSTRAP FOR JUMBOTRON */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

